{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            .divText {
              margin-bottom: 10px;
              background-color: white;
              text-align: left;
              padding: 2px;
              
            }
            </style>
        <style>
            .divWelcome {
                border-radius: 25px;
                margin: 15px;
                background-color: lightskyblue;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="divWelcome">
            <h2>Welcome to the Cooking Companion!</h2>
            <h4>A recipe application by students, for students.</h4>
        </div>

        <div class="divText">
            <p>The Cooking Companion is an application invented to help amateur chefs <b>(like you!)</b>
            to get comfortable with cooking by organizing all your recipes for you! Just start by selecting
            a recipe from our featured recipes list, or inputing a search into the search bar!</p>
        </div>

        <div class="divText">
            <h3>Featured Recipes</h3>
            <a href="https://youtu.be/dyIilW_eBjc">Featured Recipe ONE</a><br>
            <a href="https://www.youtube.com/watch?v=oZAGNaLrTd0&ab_channel=AtomicApples">Featured Recipe TWO</a><br>
            <a href="https://www.youtube.com/watch?v=5jKZ9KGtee0&ab_channel=CavinWeber">Featured Recipe THREE</a><br>
        </div>
    </body>
</html>

{% endblock %}