{% extends "layout.html" %}
{% import 'banner.html' as banner %}
{% import 'query.html' as query %}
{% block body %}
    {{banner}}
    <div>
        <style>
            .bigBar {
               width: 100%;
               height: 20px;
               font-size: 18px;
               padding: 10px;
               border: 1px solid #ccc;
               border-radius: 5px;
               text-align: center;
               align-content: center;
           }

           .pad
           {
                text-align: center;
                padding: 100px 1px 1px 1px;
           }

       </style>
       <p class="pad">Search a recipe. . .</p>
       <input class="bigBar" type="text" placeholder="Search..">
       <p class="pad"></p>
       <p>big tags here? Or maybe on the side like amazon?</p>
       <p class="pad"></p>
    </div>
    {{query}}
{% endblock %}